# Ex2: PCA - sklearn

- Cho dữ liệu student.xlsx. 
- Đọc dữ liệu vào dataframe.
- Thực hiện giảm chiều dữ liệu với sklearn.PCA
- Trực quan hóa dữ liệu

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

In [2]:
data = pd.read_excel("student.xlsx", index_col=0)
data.head()

         Math  English  Art
Student
1          90       60   90
2          90       90   30
3          60       60   60
4          60       60   90
5          30       30   30