# Ex3: Cross Validation, Hypothesis Testing

## Câu 1: Cross Validation và K-fold
#### Cho dữ liệu fruit_data_with_colors.txt
1. Đọc dữ liệu vào dataframe
2. In thông tin shape, info, head
3. Bỏ 2 cột là  fruit_name và fruit_subtype trong dataframe. Tạo X (chứa các cột giá trị), y (là cột fruit_label)
3. Áp dụng train/test split cho dữ liệu X, y theo tỷ lệ 70:30. In các index của mỗi bộ
4. Áp dụng k-fold với n_splits = 10. In các index của mỗi bộ

## Câu 2: P-test và T-test
#### Cho 2 bộ dữ liệu Pin đã làm quen ở chapter 5. Hai bộ dữ liệu này độc lập nhau.
1. Đọc dữ liệu và gán cho 2 biến là life1_array và life2_array
2. Áp dụng t-test, cho biết sẽ accept/reject null hypothesis: 'the mean are equal'. Với alpha = 0.05

## Câu 3: P-test và T-test
#### Cho 2 bộ dữ liệu phụ thuộc nhau như sau:
> np.random.seed(11) <br/>
> before=stats.norm.rvs(scale=30,loc=250,size=100) <br/>
> after=before+stats.norm.rvs(scale=5,loc=-1.25,size=100) <br/>
#### Yêu cầu:
1. Tạo dataframe chứa before, after, và change = after - before. In kết quả
2. Áp dụng t-test, cho biết sẽ accept/reject null hypothesis: 'the mean are equal'. Với alpha = 0.05

## Câu 1: Gợi ý

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, KFold

In [2]:
data = pd.read_csv("fruit_data_with_colors.txt", sep="\t")
data.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [3]:
data.shape

(59, 7)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
fruit_label      59 non-null int64
fruit_name       59 non-null object
fruit_subtype    59 non-null object
mass             59 non-null int64
width            59 non-null float64
height           59 non-null float64
color_score      59 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 3.4+ KB

In [5]:
X= data[['mass', 'width', 'height', 'color_score']]
y = data['fruit_label']

In [6]:
## Train/test split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [8]:
X_train.index

Int64Index([20, 39, 52, 17, 51, 54, 37, 41, 43, 15, 55,  2, 23, 21, 11, 53, 32,
            57,  4, 27,  0, 26, 49, 36, 58, 45, 56, 31, 10, 50,  6, 12, 30, 40,
            34,  3,  7, 38, 47,  9, 35],
           dtype='int64')

In [9]:
X_test.index

Int64Index([5, 48, 44, 8, 46, 24, 18, 42, 28, 29, 25, 13, 14, 22, 1, 16, 19,
            33],
           dtype='int64')

In [10]:
## K-fold

In [11]:
cv = KFold(n_splits=10, random_state=42)
time=0
for train_index, test_index in cv.split(X):
    time += 1
    print("*** Time:", time)
    # print("- Train Index: ", train_index.tolist())
    # print("- Test Index: ", test_index.tolist(), "\n")
    X_train, X_test= X.iloc[train_index.tolist()], X.iloc[test_index.tolist()]
    y_train, y_test = y.iloc[train_index.tolist()], y.iloc[test_index.tolist()]     
    # các bước tiếp theo

*** Time: 1
*** Time: 2
*** Time: 3
*** Time: 4
*** Time: 5
*** Time: 6
*** Time: 7
*** Time: 8
*** Time: 9
*** Time: 10

## Câu 2: Gợi ý

In [12]:
# Tạo life1_array từ nội dung tập tin.
f=open("life_batteries.txt", "r")
content = f.read()
f.close()
life1 = content.split()
life1 = list(map(int, life1))
life1_array = np.array(life1)
life1_array

array([130, 145, 126, 146, 164, 130, 132, 152, 145, 129, 133, 155, 140,
       127, 139, 137, 131, 126, 145, 148, 125, 132, 126, 126, 126, 135,
       131, 129, 147, 136, 129, 136, 156, 146, 130, 146, 132, 142, 132,
       132])

In [13]:
# Tạo life2_array từ nội dung tập tin.
f=open("life_batteries_2.txt", "r")
content = f.read()
f.close()
life2 = content.split()
life2 = list(map(int, life2))
life2_array = np.array(life2)
life2_array

array([134, 130, 140, 151, 143, 134, 136, 144, 150, 135, 160, 141, 143,
       140, 138, 141, 148, 146, 140, 146, 151, 138, 151, 139, 151, 128,
       146, 147, 152, 142, 144, 134, 142, 146, 142, 136, 122, 134, 145,
       147])

In [14]:
from scipy.stats import ttest_ind, ttest_rel

In [15]:
t, p = ttest_ind(life1_array, life2_array)
print("t=%.2f, p=%.2f"%(t,p))

t=-2.61, p=0.01

In [16]:
# interpret via p-value
alpha = 0.05
if p > alpha:
    print('Accept null hypothesis that the means are equal.')
else:
    print('Reject the null hypothesis that the means are equal.')

Reject the null hypothesis that the means are equal.

## Câu 3: Gợi ý

In [17]:
from scipy import stats

In [18]:
np.random.seed(11)
before=stats.norm.rvs(scale=30,loc=250,size=100)
after=before+stats.norm.rvs(scale=5,loc=-1.25,size=100)
df=pd.DataFrame({"before":before,
                         "after":after,
                         "change":after-before})
df.head()

       before       after    change
0  302.483642  305.605006  3.121364
1  241.417810  240.526071 -0.891739
2  235.463046  226.017788 -9.445258
3  170.400443  165.913930 -4.486513
4  249.751461  252.590309  2.838848

In [19]:
df.describe()

           before       after      change
count  100.000000  100.000000  100.000000
mean   250.345546  249.115171   -1.230375
std     28.132539   28.422183    4.783696
min    170.400443  165.913930  -11.495286
25%    230.421042  229.148236   -4.046211
50%    250.830805  251.134089   -1.413463
75%    270.637145  268.927258    1.738673
max    314.700233  316.720357    9.759282

In [20]:
t, p = ttest_ind(df.before, df.after)
print("t=%.2f, p=%.2f"%(t,p))

t=0.31, p=0.76

In [21]:
# interpret via p-value
alpha = 0.05
if p > alpha:
    print('Accept null hypothesis that the means are equal.')
else:
    print('Reject the null hypothesis that the means are equal.')

Accept null hypothesis that the means are equal.